* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-family: 'Arial';
}

body {
    background: #c9c9c9;
    max-width: 1330px;
    margin: auto;
    padding: 0 10px;
    text-align: center;
}

.wrapper {
    width: 100%;
    background: #fff;
    margin: auto;
    padding: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

.page{
    color: #039dfc;
    text-decoration: none;
}

.wrapper .title {
    font-size: 24px;
    margin-bottom: 25px;
    color: #039dfc;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form .inputField {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .inputField label {
    width: 280px;
    margin-right: 10px;
    color:#039dfc;
}

.wrapper .form .inputField .input {
    width: 100%;
    outline: none;
    border: 1px solid #7e8281;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.wrapper .form .inputField .input:focus {
    border: 1px solid #039dfc;
}

.wrapper .form .inputField .button {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #039dfc;
    color: #fff;
    cursor: pointer;
    border-radius: none;
    outline: none;
}

.wrapper .form .inputField .button:hover {
    background: #007cc9;
}

.wrapper .form .inputField:last-child {
    margin-bottom: 0;
}

.controls a {
    color: #039dfc;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
}

header {
    width: 100%;
    background: #039dfc;
    margin: auto;
    padding: 20px;
}

header nav {
    flex: 1;
    text-align: right;
}

header nav ul li {
    list-style: none;
    display: inline-block;
}

header nav ul li a {
    color: #fff;
    background-color: #039dfc;
    text-decoration: none;
    padding: 16px;
    font-size: 16px;
    display: block;
    text-align: center;
}

header nav ul li a:hover {
    color: #c9c9c9;
    background-color: #0380ce;
}

footer {
    width: 100%;
    background: #039dfc;
    margin: auto;
    padding: 20px;
    color: #fff;
}

.dropbtn {
    background-color: #039dfc;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th, td{
    padding: 8px 15px;
}

th {
    background-color: #039dfc;
    color: #fff;
}

tr {
    border-bottom: 1px solid #ddd;
}

td {
    font-weight: normal;
}

th a {
    color: #fff;
    text-decoration: none;
}

td a {
    color: #000;
    text-decoration: none;
}

tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

tr:last-of-type {
    border-bottom: 2px solid #039dfc;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a:hover {
    background-color: #0380ce;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0380ce;
    color: #c9c9c9;
}